RewriteEngine On

# Redirige cualquier solicitud a /pokemon/ seguido de un nombre de usuario a pokemon.php
RewriteRule ^users/([^/]+)$ users.php?inst=$1 [L,QSA]

RewriteRule ^users/([^/]+)/([^/]+)$ users.php?inst=$1&entrenadorId=$2 [L,QSA]

# Redirige cualquier solicitud a /pokemon a pokemon.php (sin parámetro de nombre de usuario)
RewriteRule ^users$ users.php [L]